*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;  
}
.cover{
    display: flex;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.1),rgba(4, 9, 30, 0.1)),url(images/wp4096537-aquarium-wallpapers.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}


.navigation img{
    float: left;
    height: 150px;
    width: 200px;
    margin: 20px;
    z-index: 200;

}
.description{
    margin-left: 50px;
    position: absolute;
    left: 0;
    top: 30vh;
    color: aliceblue;
    line-height: 1em;
    z-index: 200;
}
#heading{
    color: aliceblue;
    font-size: 6em;
    font-weight: 700;
    line-height: 1.1em;
}
button{
    padding: 10px 20px 10px 20px ;
    background-color: transparent;
    border: 2px solid white ;
    border-radius: 70px;
    color: aliceblue;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 500;
    font-size: 1em;
}

/* Bubble */

.bubble{
    
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    bottom: 0vh;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    
}

.bubble img{

animation: bubble-float 9s linear 0s infinite normal ;
}
#b1{
    width: 90px;
    animation-delay: 2s;
}
#b2{
    width: 50px;
    animation-delay: 8s;
}
#b3{
    width: 70px;
    animation-delay: 3s;
}
#b4{
    width: 20px;
    animation-delay: 9s;
}
#b5{
    width: 80px;
    animation-delay: 5s;
}
#b6{
    width: 30px;
    animation-delay: 2s;
}
#b7{
    width: 80px;
}

@keyframes bubble-float{
    0%{
        opacity: 0;
      transform: translate(0px,0px);  
    }
    25%{
        opacity: 1;
      transform:translate (20px,0px);
    }
    50%{
        opacity: 1;
       
    }
    70%{
        opacity: 1;
       
    }
    100%{
        opacity: 0;
       transform: translateY(-90vh);
    }
}
@media (max-width:700px) {
    #heading{
        font-size: 12vw;
    }
    .cover{

        display: flex;
        height: 100vh;
        width: 100%;
        background-image: linear-gradient(rgba(4, 9, 30, 0.1),rgba(4, 9, 30, 0.1)),url(images/wp4096537-aquarium-wallpapers.jpg);
        background-position: center;
        background-size: cover;
        position: relative;
    }
    .bubble{
        width: 100vw;
    }
    #b1{
        width: 90%;
        animation-delay: 2s;
    }
    #b2{
        width: 50%;
        animation-delay: 8s;
    }
    #b3{
        width: 70%;
        animation-delay: 3s;
    }
    #b4{
        width: 20%;
        animation-delay: 9s;
    }
    #b5{
        width: 80%;
        animation-delay: 5s;
    }
    #b6{
        width: 30%;
        animation-delay: 2s;
    }
    #b7{
        width: 80%;
    }
}